body{
    background-color: rgb(14, 139, 139);
}

.parent {
    display: flex;
    flex-wrap: wrap;
   justify-content:space-around;
}

.child{
    display: block;
}

img{
    width: 200px;
    height: 200px;
}